@model IEnumerable<NIMAP_INFOTECH.Models.Product>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-8  offset-2">
            <h1 class="text-center text-primary">Product Record</h1>
            <a class="btn btn-sm btn-success m-1" asp-controller="Product" asp-action="Create">Add New Product</a>
            <p class="text-center text-success">@TempData["error"]</p>
            <table class="table table-bordered">
                <tr class="text-center" | bgcolor="#a0c2f6">
                    <th>ProductId</th>
                    <th>ProductName</th>
                    <th>CategoryId</th>
                    <th>CategoryName</th>
                    <th>Action</th>
                </tr>
                @foreach(var d in Model)
                {
                    <tr class="text-center">
                        <td>@d.ProductId</td>
                        <td>@d.ProductName</td>
                        <td>@d.CategoryId</td>
                        <td>@d.CategoryName</td>
                        <td>
                            <a class="btn btn-sm btn-warning" asp-controller="Product" asp-action="Edit" asp-route-id="@d.ProductId">Edit</a>
                            <a class="btn btn-sm btn-danger" asp-controller="Product" asp-action="Delete" asp-route-id="@d.ProductId">Delete</a>

                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>


